<plugin
	id="%plugin.id"
	name="%plugin.name"
	description="%plugin.description"
	provider="%plugin.provider"
	class="com.plugin.mining.plugin.MiningPlugin">

	<runtime>
		<library path="lib" relativePath="true" />
	</runtime>

	<actionSets>
		<actionSet id="%actions.id">
			<action
				id="%actions.ExportLogs.id"
				actionType="generalAction"
				label="%actions.ExportLogs.label"
				tooltip="%actions.ExportLogs.label"
				icon="icons/exportLogs.png"
				style="normal"
				ribbonPath="Help">
				<actionController class="com.plugin.mining.actions.ExportLogsController" />
			</action>
			<separator
				id="%actions.separator.id"
				ribbonPath="%actions.toolbar.id/%actions.ExportLogs.id" />
			<action
				id="%actions.ReloadPlugin.id"
				actionType="generalAction"
				label="%actions.ReloadPlugin.label"
				tooltip="%actions.ReloadPlugin.label"
				icon="icons/reloadPlugin.png"
				style="normal"
				ribbonPath="%actions.toolbar.id/%actions.separator.id">
				<actionController class="com.plugin.mining.actions.ReloadPluginActionController" />
			</action>
		</actionSet>
	</actionSets>

</plugin>
