<plugin
	id="%plugin.id"
	name="%plugin.name"
	description="%plugin.description"
	provider="%plugin.provider"
	class="com.uniba.mining.plugin.MiningPlugin">

	<runtime>
		<library path="lib/rum-0.6.10-minified.jar" relativePath="true" />
	</runtime>

	<actionSets>
		<actionSet id="%actions.id">
			<menu
				id="Toolbar"
				label="%actions.toolbar.label"
				ribbonPath="Help"
			/>
			<action
				id="ProcessDiscovery"
				actionType="generalAction"
				label="%actions.ProcessDiscovery.label"
				tooltip="%actions.ProcessDiscovery.label"
				icon="assets/icons/spaceman.png"
				style="normal"
				ribbonPath="Toolbar/#">
				<actionController class="com.uniba.mining.actions.ProcessDiscoveryActionController" />
			</action>
			<action
				id="ConformanceChecking"
				actionType="generalAction"
				label="%actions.ConformanceChecking.label"
				tooltip="%actions.ConformanceChecking.label"
				icon="assets/icons/checklist.png"
				style="normal"
				ribbonPath="Toolbar/Discovery">
				<actionController
					class="com.uniba.mining.actions.ConformanceCheckingActionController" />
			</action>
			<action
				id="ExportLogs"
				actionType="generalAction"
				label="%actions.ExportLogs.label"
				tooltip="%actions.ExportLogs.label"
				icon="assets/icons/book.png"
				style="normal"
				ribbonPath="Toolbar/ConformanceChecking">
				<actionController class="com.uniba.mining.actions.ExportLogsActionController" />
			</action>
			<separator
				id="Separator1"
				ribbonPath="Toolbar/ExportLogs" />
			<action
				id="ReloadPlugin"
				actionType="generalAction"
				label="%actions.ReloadPlugin.label"
				tooltip="%actions.ReloadPlugin.label"
				icon="assets/icons/reload.png"
				style="normal"
				ribbonPath="Toolbar/Separator1">
				<actionController class="com.uniba.mining.actions.ReloadPluginActionController" />
			</action>
			<separator
				id="Separator2"
				ribbonPath="Toolbar/ReloadPlugin" />
			<action
				id="About"
				actionType="generalAction"
				label="%actions.About.label"
				tooltip="%actions.About.label"
				icon="assets/icons/question.png"
				style="normal"
				ribbonPath="Toolbar/Separator2">
				<actionController class="com.uniba.mining.actions.AboutActionController" />
			</action>
			<action
				id="External"
				actionType="generalAction"
				label="%actions.External.label"
				tooltip="%actions.External.label"
				icon="assets/icons/external.png"
				style="normal"
				ribbonPath="Toolbar/External">
				<actionController class="com.uniba.mining.actions.ExternalActionController" />
			</action>
		</actionSet>
	</actionSets>

</plugin>
