<plugin
	id="%plugin.id"
	name="%plugin.name"
	description="%plugin.description"
	provider="%plugin.provider"
	class="com.plugin.mining.plugin.MiningPlugin">

	<runtime>
		<library path="lib" relativePath="true" />
	</runtime>

	<actionSets>
		<actionSet id="%actions.id">
			<menu
				id="Toolbar"
				label="%actions.toolbar.label"
				ribbonPath="Help"
			/>
			<action
				id="ExportLogs"
				actionType="generalAction"
				label="%actions.ExportLogs.label"
				tooltip="%actions.ExportLogs.label"
				icon="icons/exportLogs.png"
				style="normal"
				ribbonPath="Toolbar/#">
				<actionController class="com.plugin.mining.actions.ExportLogsController" />
			</action>
			<separator
				id="Separator1"
				ribbonPath="Toolbar/ExportLogs" />
			<action
				id="ReloadPlugin"
				actionType="generalAction"
				label="%actions.ReloadPlugin.label"
				tooltip="%actions.ReloadPlugin.label"
				icon="icons/reloadPlugin.png"
				style="normal"
				ribbonPath="Toolbar/Separator1">
				<actionController class="com.plugin.mining.actions.ReloadPluginActionController" />
			</action>
		</actionSet>
	</actionSets>

</plugin>
